body {
    font-family: Poppins;
}

.navbar-brand {
    font-size: 33.18px;
    font-weight: 400;
    line-height: 39.82px;
    color: #295943;
}

.nav-link {
    font-size: 16px;
    font-weight: 400;
    line-height: 28.8px;
    color: #3D3E48;
}

.nav-link.active {
    font-weight: 700;
    color: #43B97F;
}
.footer {
    background-color: #295943;
    color: white;
}

.footer a {
    color: white;
    text-decoration: none;
}

.footer li {
    margin-bottom: 0.5rem;
}
